html, body {
  height: 100%;
  margin: 0;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.imageHeader {
  position: relative;
  width: 100vw;
  max-width: 1500px;
  height: 30vh;
  margin: 0 auto;
}

.imageHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.overlayLogo {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.overlayLogo img {
    width: 200px;
}



/* Button */
button {
    color: white;
    background-color: #FD805D;
    padding: 5px 10px 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #FD805D;
    background-color: #fd805d00;
    outline: solid 1px #FD805D;
}

h1, h2, h3, button {
font-family: "Ibarra Real Nova", sans-serif;
font-weight: 100;
}

p, a, input, label {
    font-family: "Manrope", sans-serif;
}

.logoAaryn img {
    width: 150px;
}
  
  .logoAaryn {
    justify-self: center;
    padding: 60px 20px 0px 20px;
  }

  .originalPrice {
    font-size: 0.25rem;

  }
  

@media (min-width: 800px) {
  .overlayLogo {
    width: 200px;
  }

    .logoAaryn img {
      width: 200px;
    }
  
    .logoAaryn {
      justify-self: center;
      padding: 100px 20px 20px 20px;
    }
  }


  

@media (min-width: 1000px) {
  .imageHeader {
    width: 80vw;
    height: 50vh;
    padding-top: 5vh;
  }

  .overlayLogo img {
    width: 300px;
  }
}
