header {
  background-color: #c9a781;
  min-height: 50px;
  width: 100%;
}

.cartBadgeDiv {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: 8px;
  right: -8px;
  background-color: #28211a;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

.headerBar {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

.headerBarLogo {
  display: flex;
  align-items: center;
}

.logoHeader {
  width: 100px;
  height: auto;
}

.headerBarLinks {
  display: flex;
  gap: 15px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 800px) {
  .headerBar {
    width: 80vw;
  }
}
